// ========= WHAT TO RUN ============
params {
    // What do you want to run?
    run_beam_sim = true
    run_int_sim = true
    run_hyperdrive = true
    run_wsclean = false

    // Define commands/binaries
    oskar_sim_interferometer = "oskar_sim_interferometer"
    oskar_sim_beam = "oskar_sim_beam"
    hyperdrive_command = "hyperdrive"

    // Define where to store results, each process will store underneath this directory
    // i.e. Everything goes in params.outDir = /data/, sim1 will go under /data/sim1 automatically
    out_dir = "/Users/atom/Documents/test/workflow_test/"
}

// ============= SKY & TELESCOPE MODELS & POINTINGS ===============
// Set telescope, sky models, and pointings herehere
// Use the aboslute path to the directories/files
// To be safe, don't put a `/' at the end of the telescope model files
params.sky_models = [ "/path/to/sky_model.osm",
]

params.telescope_models = [ "/path/to/telescope_model",
]

params.pointings = [
    [ name: 'EoR0', 
        ra: 0.0, 
        dec: -27.0, 
        start_time_utc: '2000-01-01 00:00:00.0',
        x_gain: 0.0,
        y_gain: 0.0,
        x_gain_error_time: 0.0,
        y_gain_error_time: 0.0,
    ],
    [ name: 'LST_5.2', 
        ra: 78.0, 
        dec: -30.0, 
        start_time_utc: '2000-01-01 00:00:00.0',
        x_gain: 0.0,
        y_gain: 0.0,
        x_gain_error_time: 1.0,
        y_gain_error_time: 1.0,
    ],
]

// BEAM SIMULATION SETTINGS ==============================
params.beam_settings = [ 
    General: [ app: 'oskar_sim_beam_pattern' ], // Do not change this
    beam_pattern: [
        'beam_image/fov_deg':180.0,
        'station_outputs/fits_image/amp':true,
        'root_path': null,
        // Add other options here if you need
    ]
]

// INTERFEROMETER SIMULATION SETTINGS ====================
params.interferometer_settings = [
    General: [ app: 'oskar_sim_interferometer' ], // Do not change this
    interferometer: [
        ms_filename: null, // This will be set dynamically by the process
        channel_bandwidth_hz: 1e6,
        time_average_sec: 1.0
        // Add other options here if you need
    ]
]

// ============ GLOBAL OSKAR SETTINGS ====================
// Can define all other OSKAR settings here
params.oskar_settings = [
    General: [
        version: "2.11.0"
    ],
    simulator: [
        use_gpus: true,
        double_precision: true,
    ],
    sky: [
        'oskar_sky_model/file': null // This will be set dynamically by the process
    ],
    observation: [
        start_frequency_hz: 100e6,
        num_channels: 3,
        frequency_inc_hz: 1e6,
        phase_centre_ra_deg: 20.0,
        phase_centre_dec_deg: -30.0,
        num_time_steps: 10,
        length: '02:00:00.0'
    ],
    telescope: [
        input_directory: null // This will be set dynamically by the process
    ],
]

// HYPERDRIVE SETTINGS ==================================
params.hyperdrive_settings = [
    veto_threshold: 0.01,
    source_dist_cutoff: 5,
    source_list: '/path/to/srclist',
]

// NEXTFLOW SETTINGS =========================================================
// Define global process or per process settings here
process {
    // Number of instances a process can have running at any time
    maxForks = 1
}

executor {
    name = 'local'

    // Maximum number of jobs to be running at any one time
    queueSize = 1
}
